<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Course List
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let course of courses"
            (click)="selectCourse(course)"
          >
            <h3 matLine>{{course.title | titlecase}}</h3>
            <p matLine>{{course.description}}</p>
            <button
              mat-icon-button
              color="warn"
              (click)="
                deleteCourse(course);
                $event.stopImmediatePropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card *ngIf="selectedCourse?.id; else notSelectedCourse">
      <form #form="ngForm">
        <input type="hidden" name="id" [(ngModel)]="selectedCourse.id"/>
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              placeholder="title"
              [(ngModel)]="selectedCourse.title"
              name="title"
              required
              type="text"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="description"
              [(ngModel)]="selectedCourse.description"
              name="description"
              required
              type="text"
            />
          </mat-form-field>
          <div>
            <label>% Complete: {{selectedCourse.percentComplete}}</label>
            <br>
            <mat-slider
              [max]="100"
              [min]="0"
              [step]="1"
              [thumbLabel]="true"
              [(ngModel)]="selectedCourse.percentComplete"
              aria-labelledby="% Complete"
              name="percentComplete"
            ></mat-slider>
          </div>
          <div>
            <mat-checkbox
              name="favorite"
              [(ngModel)]="selectedCourse.favorite"
            >
              Favorite
            </mat-checkbox>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            type="button"
            (click)="reset()"
            mat-button
          >
            Cancel
          </button>
        </mat-card-actions>
      </form>
      <hr>
      <pre>{{form.value | json}}</pre>
      <pre>{{form.valid | json}}</pre>
    </mat-card>
    <ng-template #notSelectedCourse>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Select a Course from the list
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </ng-template>
  </div>
</div>
